TELEGRAM_BOT_TOKEN=
ZERION_API_KEY=
ZERION_UPDATING_API_KEYS=
ZERION_MANUAL_API_KEYS=
TARGET_GOOGLE_SHEET_DIRECTORY_ID=
GOOGLE_SHEET_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SHEET_CLIENT_ID=
GOOGLE_SHEET_CERTS_URL=
GOOGLE_SHEET_PRIVET_KEY_ID=
GOOGLE_SHEET_PRIVET_KEY=